/***-------------------------------------------------------GENERELLE INDSTILLINGER-------------------------------------------------------***/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    100%;
}

body {
    background-color: darkgray;
    margin: 0;
    /*    max-width: 375px;*/
}

header {
    position: relative;
    background-color: white;
}


h1,
h2,
h3,
a,
footer p {
    font-family: 'Poiret One', cursive;
}

p,
li {
    font-family: 'Open Sans', sans-serif;
}

li {
    text-align: left;
}

/*** -----------------------------------------------------------MENU----------------------------------------------------------- ***/


nav {

    position: sticky;
    /*    align-content: center;*/
}

/* unvisited link */
nav a:link {
    color: black;
}



/* mouse over link */
nav a:hover {
    background-color: white;
    opacity: 0.6;
    color: gray;

}

/* selected link */
nav a:active {
    color: black;
}


nav a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;

}

.burgermenu {
    display: inline-block;
    cursor: pointer;
    /*    position: top: 0,
   right: 0;*/
}


.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 8px;
    transition: 0.4s;
}

.burger .bar1 {
    transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.burger .bar2 {
    opacity: 0;
}

.burger .bar3 {
    transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
}


.hide_nav {
    display: none;
}

/***-----------------------------------------------------------HOME INDSTILLINGER-----------------------------------------------------------***/
.flexbox_home {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexbox_home a:hover {
    text-decoration: none;
    opacity: 0.6;
    color: darkgray;
}

.flexbox_home a {
    color: #000;
    text-decoration: none;

}

.home_section {
    border: solid white 2px;
    background-color: white;
    width: 325px;
    padding: 10px;
    margin: 10px;
}

/***-----------------------------------------------------------PORTFOLIO INDSTILLINGER-----------------------------------------------------------***/
/*typewriter effekt på alle */
#animation_box_portfolio,
#animation_box_home,
#animation_box_cv {
    display: flex;
    justify-content: center;
}

#animation_box_portfolio .typewriter,
#animation_box_home .typewriter,
#animation_box_cv .typewriter {
    color: white;
    font-family: 'Poiret One', cursive;

    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;

}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

.flexbox_portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexbox_portfolio a:hover {
    text-decoration: none;
    opacity: 0.6;
    color: darkgray;
}

.flexbox_portfolio a {
    color: #000;
    text-decoration: none;

}

.web_section,
.ux_section,
.animation_section,
.content_section {
    border: solid white 2px;
    background-color: white;
    width: 325px;
    padding: 10px;
    margin: 10px;
}



.moodboard img,
.moodboard_spil img {
    height: 148px;
    width: 204px;
}

.koebsflow img {
    height: 240px;
    width: 267px;
}

.sirmixalot img,
.splashbillede img {
    height: 112px;
    width: 200px;
}

.kea_event_logo img {
    height: 56px;
    width: 100px;
}

.app_forside img {
    height: 240px;
    width: 120px;
    margin-top: 10px;
}

.spil img,
.assetliste img,
.dokumentationsside_spil img,
.hjemmeside_billede img {
    height: 108px;
    width: 204px;
}

.spilskaerme img {
    height: 150px;
    width: 300px;
    padding: 5px;
}

.annonce img {
    width: 300px;
    height: 200px;
}

.research img {
    height: 164px;
    width: 300px;
    padding: 5px;
}

/***-----------------------------------------------------------CV INDSTILLINGER-----------------------------------------------------------***/
.flexbox_cv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cv_section {
    border: solid white 2px;
    background-color: white;
    width: 325px;
    padding: 10px;
    margin: 10px;
}

.flexbox_cv a:hover {
    text-decoration: none;
    opacity: 0.6;
    color: darkgray;
}

.flexbox_cv a {
    color: #000;
    text-decoration: none;

}

/***----------------------------------FOOTER INDSTILLINGER----------------------------------------***/
footer {
    display: flex;

    justify-content: space-around;

}

footer a {
    color: #000;
    text-decoration: none;


}

/***----------------------------------------------MEDIAQUERIES INDSTILLINGER-----------------------------------------------------***/

@media only screen and (min-width: 600px) {
    #menu {
        display: flex;
        justify-content: center;
        width: 100vw;
        background-color: darkgray;

    }

    nav a {
        float: left;
        padding: 20px 60px 20px 60px;
    }

    nav a {
        float: left;
        padding: 20px 60px 20px 60px;
    }

    .burgermenu {
        display: none;
    }


    .flexbox_portfolio {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

    }

    .flexbox_cv {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .web_section,
    .ux_section,
    .animation_section,
    .content_section,
    .cv_section {
        border: solid darkgrey 2px;
        background-color: white;
        width: 850px;
        padding: 10px;


    }



    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 25%
        }
    }

    body {
        max-width: 1440px;
    }

    .splashbillede img {
        height: 224px;
        width: 400px;
    }


    .moodboard img,
    .moodboard_spil img {
        height: 444px;
        width: 636px;
    }

    .koebsflow img {
        height: 480px;
        width: 534px;
    }

    .sirmixalot img {
        height: 168px;
        width: 300px;
    }

    .kea_event_logo img {
        height: 112px;
        width: 200px;
    }

    .app_forside img {
        height: 480px;
        width: 240px;
        margin-top: 30px;
    }

    /*
    .dokumentationsside_spil img {
        height: 112px;
        width: 200px;
    }

    .spil img,
    .hjemmeside_billede img,
        {
        height: 436px;
        width: 816px;
    }
*/

    .assetliste img {
        height: 100px;
        width: 100px;
        flex-wrap: nowrap;
        padding-right: 10px;
        padding-left: 10px;

    }

    .spilskaerme img {
        width: 300px;
        height: 200px;

    }

    .annonce img {
        width: 500px;
        height: 300px;
    }

    .research img {
        height: 393px;
        width: 700px;
        padding: 10px;
    }


    footer {
        display: flex;
        padding: 10px;
        justify-content: space-around;
    }

    footer a:hover {
        text-decoration: none;
        opacity: 0.6;
        color: white;
    }

    footer a {
        text-decoration: none;
        padding-right: 45px;
        opacity: 0.6;
        color: black;

    }
}
